.about-section {
  display: flex;
  align-items: center;
  justify-content: left;
  place-items: center;
  position: relative;
  opacity: 1;
  height: auto;
  width: var(--cWidth);
  margin: auto;
}
.about-me {
  padding: 50px 0px;
  padding-bottom: 0;
  width: 500px;
  max-width: calc(100% - 15px);
}
.about-me h3 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  color: var(--accentColor);
}

.about-me p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  word-spacing: 4px !important;
  word-break: normal;
  white-space: normal !important;
}

.about-me .para {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px !important;
  word-spacing: normal !important;
  word-break: normal !important;
  white-space: normal !important;
}

.about-me .para .split-word {
  display: inline-block;
  margin-right: 0.3em;
}

@media only screen and (min-width: 600px) {
  .about-section {
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .about-me {
    width: 500px;
    max-width: calc(100% - 70px);
    transform: translateY(0%);
  }
  .about-section {
    opacity: 1;
  }
}
@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    justify-content: right;
    max-width: 1920px;
    height: var(--vh);
    padding: 0px;
    opacity: 1;
  }
  .about-me {
    padding: 0px;
    width: 50%;
  }
  .about-me p {
    font-size: 1.2vw;
    line-height: 1.8vw;
  }
}
@media only screen and (min-width: 1950px) {
  .about-me p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
